<div class="container-fluid">
    <form method="post" id="personForm" name="personForm">

        <input type="hidden" name="reference" id="reference" ng-model="$ctrl.person.reference"   />

        <div class="card">
            <div class="card-header">
                <h4>Person Information</h4>
            </div>
            <div class="card-body">
                <div class="row">
                        <div class="col">
                            <label class="form-label" for="gender">Gender</label>
                            <select ng-model="$ctrl.person.gender" class="form-select" id="gender" name="gender" autocomplete="off" >
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="control-label" for="Name">Name</label>
                            <input ng-model="$ctrl.person.name" type="text" class="form-control" id="name" name="name" autocomplete="off" >
                        </div>
                        <div class="col">
                            <label class="control-label" for="dob">Date of Birth</label>
                            <input ng-model="$ctrl.person.dateOfBirth" type="text" class="form-control" id="dob" name="dob" autocomplete="off" >
                        </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="control-label" for="city">City</label>
                        <input ng-model="$ctrl.person.address.city" type="text" class="form-control" id="city" name="city" autocomplete="off" >
                    </div>
                    <div class="col">
                        <label class="control-label" for="country">Country</label>
                        <input ng-model="$ctrl.person.address.country" type="text" class="form-control" id="country" name="country" autocomplete="off" >
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4>Marketing data</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label class="control-label" for="marketing.cars">Cars</label>
                        <input type="number" class="form-control" id="marketing.cars" name="marketing.cars" ng-model="$ctrl.person.marketing.cars" integer min="0"  autocomplete="off" >
                    </div>
                    <div class="col">
                        <label class="control-label" for="marketing.shoes">Shoes</label>
                        <input type="number" class="form-control" id="marketing.shoes" name="marketing.shoes" ng-model="$ctrl.person.marketing.shoes" integer min="0"  autocomplete="off" >
                    </div>
                    <div class="col">
                        <label class="control-label" for="marketing.toys">Toys</label>
                        <input type="number" class="form-control" id="marketing.toys" name="marketing.toys" ng-model="$ctrl.person.marketing.toys" integer min="0"  autocomplete="off" >
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="control-label" for="marketing.fashion">Fashion</label>
                        <input type="number" class="form-control" id="marketing.fashion" name="marketing.fashion" ng-model="$ctrl.person.marketing.fashion" integer min="0"  autocomplete="off" >
                    </div>
                    <div class="col">
                        <label class="control-label" for="marketing.music">Music</label>
                        <input type="number" class="form-control" id="marketing.music" name="marketing.music" ng-model="$ctrl.person.marketing.music" integer min="0"  autocomplete="off" >
                    </div>
                    <div class="col">
                        <label class="control-label" for="marketing.garden">Garden</label>
                        <input type="number" class="form-control" id="marketing.garden" name="marketing.garden"  ng-model="$ctrl.person.marketing.garden" integer min="0"  autocomplete="off" >
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="control-label" for="marketing.electronics">Electronics</label>
                        <input type="number" class="form-control" id="marketing.electronics" name="marketing.electronics" ng-model="$ctrl.person.marketing.electronic" integer min="0"  autocomplete="off" >
                    </div>
                    <div class="col">
                        <label class="control-label" for="marketing.hifi">Hifi</label>
                        <input type="number" class="form-control" id="marketing.hifi" name="marketing.hifi"  ng-model="$ctrl.person.marketing.hifi" integer min="0"  autocomplete="off" >
                    </div>
                    <div class="col">
                        <label class="control-label" for="marketing.food">Food</label>
                        <input type="number" class="form-control" id="marketing.food" name="marketing.food"  ng-model="$ctrl.person.marketing.food" integer min="0"  autocomplete="off" >
                    </div>
                </div>
            </div>
        </div>

        <button type="button" ng-click="$ctrl.save()" class="btn btn-primary" id="actionSave" name="action" value="save" >Save changes</button>
        <button type="button" ng-click="$ctrl.delete()" value="delete" id="actionDelete" name="action" class="btn btn-danger">Delete</button>
    </form>
</div>