body {
  padding: 60px;
}

.navbar {
    background: white;
    border-bottom: 1px dashed black;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}​
