<form class="form-horizontal" method="post" id="personForm" name="personForm">

    <input type="hidden" name="reference" id="reference" ng-model="$ctrl.person.reference"   />

    <fieldset>
        <legend>Person Information</legend>
        <div class="control-group">
            <label class="control-label" for="Name">Name</label>
            <div class="controls">
                <input ng-model="$ctrl.person.name" type="text" class="input-xlarge" id="name" name="name" autocomplete="off" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="gender">Gender</label>
            <div class="controls">
                <select ng-model="$ctrl.person.gender" class="input-xlarge" id="gender" name="gender" autocomplete="off" >
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="city">Date of Birth</label>
            <div class="controls">
                <input ng-model="$ctrl.person.dateOfBirth" type="text" class="input-xlarge" id="dob" name="dob" autocomplete="off" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="city">City</label>
            <div class="controls">
                <input ng-model="$ctrl.person.address.city" type="text" class="input-xlarge" id="city" name="city" autocomplete="off" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="country">Country</label>
            <div class="controls">
                <input ng-model="$ctrl.person.address.country" type="text" class="input-xlarge" id="country" name="country" autocomplete="off" >
            </div>
        </div>



        <legend>Number of Views by Category</legend>


        <label class="control-label" for="Name">Cars</label>
        <div class="controls">
            <input type="number" class="input" id="marketing.cars" name="marketing.cars" ng-model="$ctrl.person.marketing.cars" integer min="0"  autocomplete="off" >
        </div>

        <label class="control-label" for="Name">Shoes</label>
        <div class="controls">
            <input type="number" class="input" id="marketing.shoes" name="marketing.shoes" ng-model="$ctrl.person.marketing.shoes" integer min="0"  autocomplete="off" >
        </div>

        <label class="control-label" for="Name">Toys</label>
        <div class="controls">
            <input type="number" class="input" id="marketing.toys" name="marketing.toys" ng-model="$ctrl.person.marketing.toys" integer min="0"  autocomplete="off" >
        </div>

        <label class="control-label" for="Name">Fashion</label>
        <div class="controls">
            <input type="number" class="input" id="marketing.fashion" name="marketing.fashion" ng-model="$ctrl.person.marketing.fashion" integer min="0"  autocomplete="off" >
        </div>

        <label class="control-label" for="Name">Music</label>
        <div class="controls">
            <input type="number" class="input" id="marketing.music" name="marketing.music" ng-model="$ctrl.person.marketing.music" integer min="0"  autocomplete="off" >
        </div>

        <label class="control-label" for="Name">Garden</label>
        <div class="controls">
            <input type="number" class="input" id="marketing.garden" name="marketing.garden"  ng-model="$ctrl.person.marketing.garden" integer min="0"  autocomplete="off" >
        </div>

        <label class="control-label" for="Name">Electronics</label>
        <div class="controls">
            <input type="number" class="input" id="marketing.marketing.electronics" name="marketing.electronics" ng-model="$ctrl.person.marketing.electronic" integer min="0"  autocomplete="off" >
        </div>

        <label class="control-label" for="Name">Hifi</label>
        <div class="controls">
            <input type="number" class="input" id="marketing.hifi" name="marketing.hifi"  ng-model="$ctrl.person.marketing.hifi" integer min="0"  autocomplete="off" >
        </div>

        <label class="control-label" for="Name">Food</label>
        <div class="controls">
            <input type="number" class="input" id="marketing.food" name="marketing.food"  ng-model="$ctrl.person.marketing.food" integer min="0"  autocomplete="off" >
        </div>


        <div class="form-actions">
            <button type="submit" ng-click="$ctrl.save()" class="btn btn-primary" id="actionSave" name="action"  value="save" >Save changes</button>
            <button type="submit" ng-click="$ctrl.delete()" value="delete" id="actionDelete" name="action" class="btn">Delete</button>
        </div>
    </fieldset>
</form>
