<div class="container">

  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <input ng-model="$ctrl.persons" type="text" class="form-control"
             name="persons"  placeholder="Number of persons to inject" autocomplete="off">
    </div>
    <div class="col-md-1">
      <button ng-click="$ctrl.init()" type="submit" class="btn btn-primary">Inject</button>
    </div>
  </div>

  <div class="row">
    &nbsp;
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div class="progress">
        <div class="progress-bar progress-bar-striped {{$ctrl.status}}" role="progressbar"
             aria-valuenow="{{$ctrl.progress/$ctrl.persons}}" aria-valuemin="0" aria-valuemax="{{$ctrl.goal}}"
             style="width: {{$ctrl.progress/$ctrl.goal*100}}%;">
          {{$ctrl.progress}} on {{$ctrl.goal}}
        </div>
      </div>
    </div>
</div>

</div>


